/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


#PlacesToolbar .bookmark-item:not(menu):not(menuitem):not([disabled=true]) > .toolbarbutton-menubutton-button[open] + .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
#PlacesToolbar .bookmark-item:not(menu):not(menuitem):not([disabled=true]):is(:hover,[open]) > .toolbarbutton-menubutton-button ,
#PlacesToolbar .bookmark-item:not(menu):not(menuitem):not([disabled=true]):is(:hover,[open]) > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
#PlacesToolbar .bookmark-item:not(menu):not(menuitem):not([disabled=true]):not([checked]):not([open]):not(:active):hover,
#PlacesToolbar .bookmark-item:not(menu):not(menuitem):not([buttonover]):not([open]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled]) > .dropmarker-icon {
  background: transparent !important;
  background-color: transparent !important;
  background-image:
	linear-gradient(to right, rgba(255,255,255,0.4) 0px, transparent 0px),
	linear-gradient(to left, rgba(255,255,255,0.4) 0px, transparent 0px),
	linear-gradient(to top, rgba(255,255,255,0.3) 0px, transparent 0px),
	linear-gradient(to bottom, rgba(163,196,247,0.2), rgba(122,180,246,0.2)) !important;
  border-radius: 6px !important;
  outline: 1px solid rgba(124,163,206,0.7) !important;
  transition: background-color .3s ease-in,
			  border-color .2s ease-in,
			  box-shadow .2s ease-in !important;
}

#PlacesToolbar toolbarbutton[type="menu"][open]:not([disabled]),
#PlacesToolbar toolbarbutton[type="menu-button"]:not([open]):hover:not([disabled]):active ,
#PlacesToolbar .bookmark-item:not(menu):not(menuitem) > .toolbarbutton-menubutton-button:not([disabled=true]):is(:hover:active,:active, [open]),
#PlacesToolbar .bookmark-item:not(menu):not(menuitem)[open] > .toolbarbutton-menubutton-dropmarker:not([disabled=true]) > .dropmarker-icon,
#PlacesToolbar .bookmark-item:not(menu):not(menuitem):not([disabled=true]):is([open],[checked],:hover:active,:active) {
  background: transparent !important;
  background-color: transparent !important;
  background-image:
	linear-gradient(to right, rgba(255,255,255,0.4) 0px, transparent 0px),
	linear-gradient(to left, rgba(255,255,255,0.4) 0px, transparent 0px),
	linear-gradient(to top, rgba(255,255,255,0.3) 0px, transparent 0px),
	linear-gradient(to bottom, rgba(163,196,247,0.6), rgba(122,180,246,0.6)) !important;
  border-radius: 6px !important;
  outline: 1px solid rgba(124,163,206,0.99) !important;
  transition: background-color .3s ease-in,
			  border-color .2s ease-in,
			  box-shadow .2s ease-in !important;
}
