/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


/* hide 'disabled' forward button */
#forward-button[disabled="true"] {
  visibility: collapse !important;
  transition: visibility 150ms ease-out !important;
}

#forward-button:not([disabled="true"]) {
  visibility: visible !important;
  transition: visibility 150ms ease-out !important;
}
