/* Firefox userContent.css tweaks *******************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


@-moz-document url-prefix(about:addons),
	url-prefix(chrome://mozapps/content/extensions/aboutaddons.html),
	url-prefix(chrome://mozapps/content/extensions/aboutaddons.xhtml) {

	/* reduce category width*/
	#categories {
	  width: 70px !important;
	}

	/* adjust category icon position */
	richlistitem .category-icon {
	  margin-inline-start: 13px !important;
	}

	/* adjust footer icon position */
	.sidebar-footer-button .sidebar-footer-icon{
	  margin-inline-start: 27px !important;
	}
	
	/* adjust category icon position */
	.sidebar-footer-button .sidebar-footer-label,
	richlistitem .category-name {
	  display: none !important;
	}

}
