/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


:-moz-autofill, :autofill, :-moz-autofill-preview {
  filter: unset;
}

:root:not(#id) input {
  filter: unset !important;
}

/* F94+ compatibility */
input:autofill {
  background-image: unset !important;
}
