/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


/*
 Colors inside  /'*...*'/  are from deprecated 'custom_colors_for_squared_tabs.css' file.
 Example:
 replace 'linear-gradient(#f9f9fa,#f9f9fa)'  with 'linear-gradient(to bottom,#FFCC99,#FFCC99)'
 to use the colors from the above mentioned file.
*/

/* default colors */
:root {
  --general_toolbar_color_toolbars: linear-gradient(#f9f9fa,#f9f9fa) !important; /* (to bottom,#FFCC99,#FFCC99) */
  --general_toolbar_color_navbar: linear-gradient(#f9f9fa,#f9f9fa) !important; /* (to bottom,#FFCC99,#FFCC99) */
  --general_toolbar_text_color: inherit !important;
  --general_toolbar_text_shadow: transparent !important;
  --tabs_toolbar_color_tabs_not_on_top: linear-gradient(#f9f9fa,#f9f9fa) !important;  /* (to bottom,#FFCC99,#FFCC99) */
  --tabs_toolbar_border-tnot_normal_mode_size: 1px !important;
  --tabs_toolbar_border-tnot_normal_mode: var(--tabs-border-color) !important;
  --colored_menubar_background_image: linear-gradient(#f9f9fa,#f9f9fa) !important;  /* (to bottom,#FFCC99,#FFCC99) */
  --colored_menubar_text_color: black !important;
  --statusbar_background_color: linear-gradient(#f9f9fa,#f9f9fa) !important;
  --statusbar_font_color: inherit !important;
  --classic_squared_tabs_active_tab: linear-gradient(to top,#f9f9fa,#f9f9fa,#f9f9fa) !important; /* (to bottom,#FF8800,#FFCC99) */
  --classic_squared_tabs_hovered_tabs: linear-gradient(to top,#cac7c1,#d5d2cc,#e8e6e2) !important; /* (to bottom,#FF9900,#FF6600) */
  --classic_squared_tabs_other_tabs: linear-gradient(to top,#aeaba5,#c1beb7,#c9c6be) !important; /* (to bottom,#FFCC99,#CCCCCC) */
  --classic_squared_tabs_unloaded_tabs: linear-gradient(to top,#aeaba5,#c1beb7,#c9c6be) !important; /* (to bottom,#FFCC99,#CCCCCC) */
  --classic_squared_tabs-border_size: 1px;
  --classic_squared_tabs-border1: #5f7181 !important;
  --classic_squared_tabs-border2: rgba(0,0,0,.2) !important;
  --classic_squared_tabs-border3: rgba(0,0,0,.5) !important;
  --classic_squared_tabs_new_tab_icon_color: black !important;
  --classic_squared_tabs_tab_text_color: black !important;
  --classic_squared_tabs_tab_text_shadow: transparent !important;
  --classic_squared_tabs_lwt-dark_active_tab: inherit !important; /* linear-gradient(blue, hsla(0,0%,60%,.5) 80%) */
  --classic_squared_tabs_lwt-dark_hovered_tabs: linear-gradient(hsla(0,0%,80%,.5), hsla(0,0%,60%,.5) 80%) !important;
  --classic_squared_tabs_lwt-dark_other_tabs: linear-gradient(hsla(0,0%,60%,.5), hsla(0,0%,45%,.5) 80%) !important;
  --classic_squared_tabs_lwt-bright_hovered_tabs: linear-gradient(hsla(0,0%,60%,.6), hsla(0,0%,45%,.6) 80%) !important;
  --classic_squared_tabs_lwt-bright_other_tabs: linear-gradient(hsla(0,0%,40%,.6), hsla(0,0%,30%,.6) 80%) !important;
  --classic_squared_tabs_lwt-bright_active_tab: inherit !important; /* linear-gradient(blue, hsla(0,0%,60%,.5) 80%) */
}
