/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


/* Developer Edition colors */
:root {
  --general_toolbar_color_toolbars: linear-gradient(#393f4c,#393f4c) !important;
  --general_toolbar_color_navbar: linear-gradient(#393f4c,#393f4c) !important;
  --general_toolbar_text_color: white !important;
  --general_toolbar_text_shadow: transparent !important;
  --tabs_toolbar_color_tabs_not_on_top: linear-gradient(#393f4c,#393f4c) !important;
  --tabs_toolbar_border-tnot_normal_mode_size: 1px !important;
  --tabs_toolbar_border-tnot_normal_mode: var(--tabs-border-color) !important;
  --colored_menubar_background_image: linear-gradient(#1c2126,#1c2126) !important;
  --colored_menubar_text_color: white !important;
  --statusbar_background_color: linear-gradient(#393f4c,#393f4c) !important;
  --statusbar_font_color: white !important;
  --classic_squared_tabs_active_tab: linear-gradient(to top,#5675b9,#5675b9) !important;
  --classic_squared_tabs_hovered_tabs: linear-gradient(to top,#07090a,#07090a) !important;
  --classic_squared_tabs_other_tabs: linear-gradient(to top,#272b35,#272b35) !important;
  --classic_squared_tabs_unloaded_tabs: linear-gradient(to top,#272b35,#272b35) !important;
  --classic_squared_tabs-border_size: 1px;
  --classic_squared_tabs-border1: black !important;
  --classic_squared_tabs-border2: black !important;
  --classic_squared_tabs-border3: black !important;
  --classic_squared_tabs_new_tab_icon_color: white !important;
  --classic_squared_tabs_tab_text_color: white !important;
  --classic_squared_tabs_tab_text_shadow: transparent !important;
  --classic_squared_tabs_lwt-dark_active_tab: inherit !important; /* linear-gradient(blue, hsla(0,0%,60%,.5) 80%) */
  --classic_squared_tabs_lwt-dark_hovered_tabs: linear-gradient(hsla(0,0%,80%,.5), hsla(0,0%,60%,.5) 80%) !important;
  --classic_squared_tabs_lwt-dark_other_tabs: linear-gradient(hsla(0,0%,60%,.5), hsla(0,0%,45%,.5) 80%) !important;
  --classic_squared_tabs_lwt-bright_hovered_tabs: linear-gradient(hsla(0,0%,60%,.6), hsla(0,0%,45%,.6) 80%) !important;
  --classic_squared_tabs_lwt-bright_other_tabs: linear-gradient(hsla(0,0%,40%,.6), hsla(0,0%,30%,.6) 80%) !important;
  --classic_squared_tabs_lwt-bright_active_tab: inherit !important; /* linear-gradient(blue, hsla(0,0%,60%,.5) 80%) */
}
