/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


#navigator-toolbox #nav-bar {
  -moz-box-ordinal-group: 3 !important;
  border-top: unset !important;
  box-shadow: unset !important;
}

#navigator-toolbox #PersonalToolbar {
  -moz-box-ordinal-group: 2 !important;
  border-bottom: unset !important;
  box-shadow: unset !important;
}
