<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="notification" xml:lang="zh-CN">
  <info>
    <link type="guide" xref="index#dialogs"/>
    <desc>使用 <cmd>--notification</cmd> 选项。</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>TeliuTe</mal:name>
      <mal:email>teliute@163.com</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>tuhaihe</mal:name>
      <mal:email>1132321739qq@gmail.com</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  </info>
  <title>通知区域图标</title>
    <p>使用 <cmd>--notification</cmd> 选项创建一个通知对话框。</p>

    <terms>

      <item>
        <title><cmd>--text</cmd>=<var>文本</var></title>
	  <p>指定在通知区域显示的文本。</p>
      </item>
      <item>
        <title><cmd>--listen</cmd>=icon: '<var>text</var>', message: '<var>text</var>', tooltip: '<var>text</var>', visible: '<var>text</var>',</title>
          <p>Listens for commands at standard input. At least one command must be specified. Commands are comma seperated. A command must be followed by a colon and a value. </p>
          <note style="tip">
            <p>The <cmd>icon</cmd> command also accepts four stock icon values such as <var>error</var>, <var>info</var>, <var>question</var> and <var>warning</var>.</p>
          </note>
      </item>
    </terms>

    <p>下面的脚本示范了如何创建一个通知区域图标：</p>
<code>
#!/bin/sh

zenity --notification\
  --window-icon="信息" \
  --text="系统有必要的更新！"
</code>

    <figure id="zenity-notification-screenshot">
      <title>通知区域图标范例</title>
      <desc><app>Zenity</app> 通知图标范例</desc>
      <media type="image" mime="image/png" src="figures/zenity-notification-screenshot.png"/>
   </figure>

    <p>
      The following example script shows how to create a notification icon along with <cmd>--listen</cmd>:
    </p>

<code>
#!/bin/sh

cat &lt;&lt;EOH| zenity --notification --listen
message: this is the message text
EOH
</code>

    <figure id="zenity-notification-listen-screenshot">
      <title>Notification Icon with <cmd>--listen</cmd> Example</title>
      <desc><app>Zenity</app> notification with <cmd>--listen</cmd> example</desc>
      <media type="image" mime="image/png" src="figures/zenity-notification-listen-screenshot.png"/>
   </figure>

</page>
