/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


.tabbrowser-tab[pinned] .tab-icon-image:not([src]) {
   visibility: hidden !important;
}

.tabbrowser-tab[pinned] .tab-text {
  display: none !important;
}
