/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/

:root{
  --sidebar-hover-width: 8px;
  --sidebar-visible-width: 300px;
}

#sidebar-box #sidebar {
  min-width: var(--sidebar-hover-width) !important;
  width: var(--sidebar-hover-width) !important;
  max-width: var(--sidebar-hover-width) !important;
  opacity: 0 !important;
  position: absolute !important;
  display: block !important;
}

#sidebar-box:hover #sidebar {
  min-width: var(--sidebar-visible-width) !important;
  width: var(--sidebar-visible-width) !important;
  max-width: var(--sidebar-visible-width) !important;
  opacity: 1.0 !important;
}

#sidebar-box #sidebar-header {
  visibility: collapse !important;
}
#sidebar-box:hover #sidebar-header {
  visibility: visible !important;
}

#sidebar-box {
  z-index: 1000 !important;
  margin-inline-end: calc(-1 * var(--sidebar-hover-width)) !important;
  position: relative !important;
  opacity: 0 !important;
}

#sidebar-box:hover {
  margin-inline-end: unset !important;
  opacity: 1.0 !important;
}

#sidebar-box ~ #appcontent {
  margin-inline-start: calc(-1 * var(--sidebar-hover-width)) !important;
}

#sidebar-box:hover ~ #appcontent {
  margin-inline-start: calc(-1 * (var(--sidebar-visible-width) + var(--sidebar-hover-width))) !important;
}
