<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="error" xml:lang="el">
  <info>
    <link type="guide" xref="message"/>
    <desc>Χρησιμοποιήστε την επιλογή <cmd>--error</cmd>.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>  Στέργιος Προσινικλής</mal:name>
      <mal:email>steriosprosiniklis@gmail.com</mal:email>
      <mal:years>2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>  Θάνος Τρυφωνίδης</mal:name>
      <mal:email>tomtryf@gmail.com</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>  Δημήτρης Σπίγγος</mal:name>
      <mal:email>dmtrs32@gmail.com</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>
  <title>Διάλογος σφάλματος</title>
      <p>Χρησιμοποιήστε την επιλογή <cmd>--error</cmd> για να δημιουργήσετε ένα διαλόγο σφάλματος.</p>

      <p>Το παρακάτω παράδειγμα δέσμης ενεργειών κελύφους δείχνει πως να δημιουργήσετε έναν διάλογο σφάλματος:</p>

<code>
#!/bin/bash

zenity --error \
--text="Αδύνατη η εύρεση του /var/log/syslog."
</code>


      <figure id="zenity-error-screenshot">
        <title>Παράδειγμα διαλόγου σφάλματος</title>
        <desc>Παράδειγμα διαλόγου σφάλματος του <app>Zenity</app></desc>
        <media type="image" mime="image/png" src="figures/zenity-error-screenshot.png"/>
      </figure>
</page>
