<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="password" xml:lang="el">
  <info>
    <link type="guide" xref="index#dialogs"/>
    <desc>Χρησιμοποιήστε την επιλογή <cmd>--password</cmd>.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>  Στέργιος Προσινικλής</mal:name>
      <mal:email>steriosprosiniklis@gmail.com</mal:email>
      <mal:years>2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>  Θάνος Τρυφωνίδης</mal:name>
      <mal:email>tomtryf@gmail.com</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>  Δημήτρης Σπίγγος</mal:name>
      <mal:email>dmtrs32@gmail.com</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>
  <title>Διάλογος κωδικού</title>
  <p>Χρησιμοποιήστε την επιλογή <cmd>--password</cmd> για να δημιουργήσετε έναν διάλογο καταχώρησης κωδικού.</p>
  <p>Ο διάλογος καταχώρησης κωδικού υποστηρίζει τις ακόλουθες επιλογές:</p>

  <terms>
    <item>
      <title><cmd>--username</cmd></title>
      <p>Εμφάνιση πεδίου του ονόματος χρήστη.</p>
    </item>
  </terms>

  <p>Το παρακάτω παράδειγμα σεναρίου εντολών σας δείχνει πως μπορείτε να δημιουργήσετε έναν διάλογο καταχώρησης κωδικού:</p>

<code>
#!/bin/sh

ENTRY=`zenity --password --username`

case $? in
         0)
	 	echo "Όνομα χρήστη: `echo $ENTRY | cut -d'|' -f1`"
	 	echo "Κωδικός : `echo $ENTRY | cut -d'|' -f2`"
		;;
         1)
                echo "Διακοπή σύνδεσης.";;
        -1)
                echo "Προέκυψε ένα σφάλμα.";;
esac
</code>

  <figure id="zenity-password-screenshot">
    <title>Παράδειγμα διαλόγου καταχώρησης κωδικού</title>
    <desc>Παράδειγμα διαλόγου καταχώρησης κειμένου του <app>Zenity</app></desc>
    <media type="image" mime="image/png" src="figures/zenity-password-screenshot.png"/>
  </figure>

</page>
