/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


#nav-bar #PanelUI-menu-button .toolbarbutton-text {
  display: block !important;
  margin-inline-start: -1px !important;
}
