/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


#PanelUI-button #PanelUI-menu-button {
  list-style-image: unset !important;
  -moz-image-region: unset !important;
}

#PanelUI-button #PanelUI-menu-button .toolbarbutton-icon {
  list-style-image: url("../../image/appbutton_grey.svg") !important;
}
