/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


/* DeveloperEdition colors (Fx57+) [label="Firefox Developer Edition"] */
#main-window[tabsintitlebar]  #PanelUI-button #PanelUI-menu-button {
  background-image: linear-gradient(#0067de, #2398ff,#03daff) !important;
}
#main-window[tabsintitlebar]  #PanelUI-button #PanelUI-menu-button:hover:not(:active):not([open]){
  background-image: radial-gradient(farthest-side at center bottom, hsla(0,0%,100%,.5) 10%, hsla(0,0%,100%,0) 70%),
					radial-gradient(farthest-side at center bottom, hsla(0,0%,100%,.7), hsla(0,0%,100%,0)),
					linear-gradient(#0067de, #2398ff,#03daff) !important;
}
#main-window[tabsintitlebar]  #PanelUI-button #PanelUI-menu-button:is(:hover:active,[open]){
  background-image: linear-gradient(#0067de, #2398ff,#03daff) !important;
}
